.App {
  text-align: center;
}

.log-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.stickyHeader {
  display: inline-list-item;
  position: fixed;
  top: 0;
  width: 100%;
  length: 100%;
  background-color: #282c34;

}

.nav-item {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  position: center;
}

.App-home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #CCCDDD;
}

.App-footer {
  background-color: #282c34;
  padding-right: 10px;
  min-height: 1vh;
  display: block;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: right;
  font-size: calc(1px + 2vmin);
  color: #CCCDDD;
}

.App-link {
  color: #CCCDDD;
}

.footer-text{
  display: inline-block;
  text-align: right;
  padding:  2.5vh 2.5vh 2.5vh 2.5vh;
}

.projects {
  color: #CCCDDD;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


a {
  color: #CCCDDD;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
